<a href="https://colab.research.google.com/github/lianidya/Tugas-/blob/main/Tugas_week2_aulia_nidya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Weekly exercise 1**

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print ("Panjang =", panjang)
print ("Lebar =", lebar)
print ("Tinggi =", tinggi)
print ("Keliling =", keliling)
print ("Volume =", volume)

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

Weekly Excercise 2

In [ ]:
nilai_shafira = (85 + 75)/2
print("Nilai Shafira", nilai_shafira)

Nilai Shafira 80.0

In [ ]:
nilai_hanif = (75+90)
nilai_andi = (70+75)
jumlah_nilai_hanif_dan_andi = nilai_hanif + nilai_andi
print ("Total Jumlah nilai Hanif dan Andi adalah", jumlah_nilai_hanif_dan_andi)

Total Jumlah nilai Hanif dan Andi adalah 310

In [ ]:
rata_rata_nilai_Widya_Dhanar_Hikma_dan_Nedia_masing_masing_mata_kuliah_kalkulus = (85+85+80+90)/4
print("Rata rata nilai kalkulus dari 4 siswa", rata_rata_nilai_Widya_Dhanar_Hikma_dan_Nedia_masing_masing_mata_kuliah_kalkulus)

Rata rata nilai kalkulus dari 4 siswa 85.0

In [ ]:
rata_rata_nilai_Widhya_Dhanar_Hikma_dan_Nedia_masing_masing_mata_kuliah_statiska = (85+85+75+80)/4
print("Rata rata nilai statiska dari 4 siswa", rata_rata_nilai_Widhya_Dhanar_Hikma_dan_Nedia_masing_masing_mata_kuliah_statiska)

Rata rata nilai statiska dari 4 siswa 81.25

In [ ]:
rata_rata_nilai_mata_kuliah_kalkulus_1_semua_siswa = (85+80+75+95+85+75+70+85+80)/9
print ("Rata rata nilai mata kuliah kalkulus 1 semua siswa", rata_rata_nilai_mata_kuliah_kalkulus_1_semua_siswa)

Rata rata nilai mata kuliah kalkulus 1 semua siswa 81.11111111111111

In [ ]:
rata_rata_nilai_Metode_Statistika_semua_siswa = (75+90+80+80+85+90+75+85+75)/9
print ("Rata-rata nilai Metode Statiska 1", rata_rata_nilai_Metode_Statistika_semua_siswa)

Rata-rata nilai Metode Statiska 1 81.66666666666667

**WEEKLY EXERCISE 3**

In [ ]:
# @title Default title text
Dwi_bekerja_total_dalam_jam_sehari = 8
Setiap_jam_di_gaji = 30000
Kerja_dalam_satu_bulan_Agustus = 31
Dwi_tidak_masuk_kerja = 3

#Gaji satu bulan Dwi pada bulan Agustus
Dwi_bekerja = Kerja_dalam_satu_bulan_Agustus - Dwi_tidak_masuk_kerja
print ("Berarti Dwi masuk hanya", Dwi_bekerja)

Total_Dwi_bekerja = Dwi_bekerja * Dwi_bekerja_total_dalam_jam_sehari
print ("Berarti total jam dwi bekerja dalam satu bulan",Total_Dwi_bekerja)

Penghasilan_Dwi = Total_Dwi_bekerja * Setiap_jam_di_gaji
print ("Berarti penghasilan Dwi dalam satu bulan, bulan agustus adalah", Penghasilan_Dwi)

#Tunjangan
Tunjangan_dwi_bekerja_setelah_bekerja_selama_10_tahun = 10/100 #atau 10%
Total_gaji_dwi_pada_bulan_Agustus = 6720000

Tunjangan_pekerjaan_dwi = Tunjangan_dwi_bekerja_setelah_bekerja_selama_10_tahun*Total_gaji_dwi_pada_bulan_Agustus
print ("Tunjangan Dwi setelah bekerja selama 10 tahun",Tunjangan_pekerjaan_dwi )

#Lembur
Lembur_kerja_dwi = 5
Gaji_dwi_pada_bulan_agustus = 6720000
Upah_lembur = 10000

Dwi_kerja_lembur = Upah_lembur*Lembur_kerja_dwi
print ("Total upah lembur Dwi ",Dwi_kerja_lembur)

#Total gaji keseluruhannya
Total_gaji_Dwi_semua_dalam_satu_bulan = Gaji_dwi_pada_bulan_agustus + Tunjangan_pekerjaan_dwi + Dwi_kerja_lembur
print ("Jumlah total semua gaji Dwi jika ditambah dengan tunjangan dan lembur",Total_gaji_Dwi_semua_dalam_satu_bulan )

Berarti Dwi masuk hanya 28
Berarti total jam dwi bekerja dalam satu bulan 224
Berarti penghasilan Dwi dalam satu bulan, bulan agustus adalah 6720000
Tunjangan Dwi setelah bekerja selama 10 tahun 672000.0
Total upah lembur Dwi  50000
Jumlah total semua gaji Dwi jika ditambah dengan tunjangan dan lembur 7442000.0