<a href="https://colab.research.google.com/github/lianidya/Tugas-/blob/main/TUGAS_WEEK_6_LIA_NIDYA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Weekly Exercise 1**

In [ ]:
n = int(input("Masukkan jumlah baris: "))

for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for k in range(i+1):
        print("* ", end="")
    print()

Masukkan jumlah baris: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

# **Weekly Exercise 2**

In [1]:
user = int(input("Masukkan angka: "))

for i in range(user):
    print(" " * (user-i-1), end="")
    pascal = 1
    for j in range(i+1):
     print(pascal, end="")
     pascal = pascal * (i-j) // (j+1)
     if j != i:
        print(" ", end="")
    print()

Masukkan angka: 5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

# **Weekly Exercise 3**

In [1]:
user = int(input("Masukkan angka: "))

for i in range(user):
    print(" " * (user-i-1), end="")
    pascal = 1
    jumlah = 0
    for j in range(i+1):
     print(pascal, end="")
     jumlah += pascal
     pascal = pascal * (i-j) // (j+1)
     if j != i:
        print(" ", end="")
    print(f" jumlah: {jumlah}")

Masukkan angka: 5
    1 jumlah: 1
   1 1 jumlah: 2
  1 2 1 jumlah: 4
 1 3 3 1 jumlah: 8
1 4 6 4 1 jumlah: 16